<div class="row">
    <h1>HARD & SOFT SKILLS</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
         <circle-progress
                [percent]="70"
                [radius]="100"
                [title]="'HTML'"
                [titleColor]="'black'"
                [titleFontSize]="'3em'"
                [showUnits]="false"
                [showTitle]="true"
                 [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#02c39a'"
                [innerStrokeColor]="'#00a896'"
                [animation]="true"
                [animationDuration]="300"
        >   
            </circle-progress>
        </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
                 [percent]="60"
                 [radius]="100"
                 [title]="'Comunicación'"
                 [titleColor]="'black'"
                 [titleFontSize]="'1.5em'"
                 [showUnits]="false"
                 [showTitle]="true"
                 [outerStrokeWidth]="16"
                 [innerStrokeWidth]="8"
                 [outerStrokeColor]="'#02c39a'"
                [innerStrokeColor]="'#00a896'"
                 [animation]="true"
                 [animationDuration]="300"
        >   
            </circle-progress>
        </div>
                <div class="text-center col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                                [percent]="70"
                                [radius]="100"
                                [title]="'CSS'"
                                [titleColor]="'black'"
                                [titleFontSize]="'3em'"
                                [showUnits]="false"
                                [showTitle]="true"
                                 [outerStrokeWidth]="16"
                                [innerStrokeWidth]="8"
                                [outerStrokeColor]="'#02c39a'"
                [innerStrokeColor]="'#00a896'"
                                [animation]="true"
                                [animationDuration]="300"
                >   
                    </circle-progress>
                </div>
                        <div class="text-center col-sm-4 col-md-4 col-lg-4">
                            <circle-progress
                                        [percent]="98"
                                        [radius]="100"
                                        [title]="'Honestidad'"
                                        [titleColor]="'black'"
                                        [titleFontSize]="'1.5em'"
                                        [showUnits]="false"
                                        [showTitle]="true"
                                         [outerStrokeWidth]="16"
                                        [innerStrokeWidth]="8"
                                        [outerStrokeColor]="'#02c39a'"
                [innerStrokeColor]="'#00a896'"
                                        [animation]="true"
                                        [animationDuration]="300"
                        >   
                            </circle-progress>
                        </div>
                                <div class="text-center col-sm-4 col-md-4 col-lg-4">
                                    <circle-progress
                                                [percent]="50"
                                                [radius]="100"
                                                [title]="'Ingles'"
                                                [titleColor]="'black'"
                                                [titleFontSize]="'3em'"
                                                [showUnits]="false"
                                                [showTitle]="true"
                                                 [outerStrokeWidth]="16"
                                                [innerStrokeWidth]="8"
                                                [outerStrokeColor]="'#02c39a'"
                [innerStrokeColor]="'#00a896'"
                                                [animation]="true"
                                                [animationDuration]="300"
                                >   
                                    </circle-progress>
                                </div>
                                        <div class="text-center col-sm-4 col-md-4 col-lg-4">
                                            <circle-progress
                                                        [percent]="85"
                                                        [radius]="100"
                                                        [title]="'Adaptabilidad'"
                                                        [titleColor]="'black'"
                                                        [titleFontSize]="'1.5   em'"
                                                        [showUnits]="false"
                                                        [showTitle]="true"
                                                         [outerStrokeWidth]="16"
                                                        [innerStrokeWidth]="8"
                                                        [outerStrokeColor]="'#02c39a'"
                                                        [innerStrokeColor]="'#00a896'"
                                                        [animation]="true"
                                                        [animationDuration]="300"
                                        >   
                                            </circle-progress>
                                        </div>

</div>