<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>    
            <li>
                <h1>Título: educación polimodal en modalidad económica.</h1> 
            </li>
            <p>
                Obtenido en el Colegio Monseñor Boneo año 2016.
            </p>
            <li>
                <h1>2do: Año en la carrera de Ingeniería en Sistemas.</h1> 
            </li>
            <p> 
                Cursado en la Universidad Tecnológica Nacional de Rosario.
            </p>


        </ul>

    </div>




</div>