div{
    background-color: #05668d;
    text-align: center;
}
.row {
    padding: 20px;
   
}

#nombre{
    font-weight: bold;
    margin-top:10%;
    
}
/* estilos foto */

@media (min-width: 576px) {
    #fotop {
        padding-bottom: 20px;
        width: 100%;
        border-radius: 100%;
        position: relative;
        top: 0;
        left: 0;
        transform: translatey(-142px);
  
        
}   


}
@media (max-width: 576px) {
    #fotop {
        
        position: center;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        
        
}   


}


