<div class="row">
        <h1>Experiencia laboral</h1>
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <ul>    
                <li>
                    <h1>Trabajo:   </h1> <h3> Administración en corralón Gallardo. </h3>
                </li>
                <p>
                    Atención al cliente, control de stock y pagos.
                </p>
                <li>
                    <h1> Trabajo: </h1> <h3> Administrativo en estudio contable año 2019.</h3>
                </li>
                <p> 
                    Trámites ante organismos públicos y entidades financieras, manejo de Pc a través de hojas de cálculo y editor de texto. Arqueo de caja y manejo de fondos
                </p>


            </ul>

        </div>




</div>
