.row{
    background-color: rgba(5, 11, 70, 0.863);

}

footer{
    color:white;
    font-size:14px;
    display:flex;
    flex-direction:column;
    text-align:center;
    box-shadow: 2px -2px 5px #999

}