<div class="row">
   <div class="container">
    <div class="logo">
        <img src="../../../assets/APLogo.png" id="logo">
    </div>
    <div class="redes">
            
        <a href="https://github.com/Sepitas?tab=repositories"><i class="fa-brands fa-github" style="color: #028090;"></i></a> 
        <a href="https://www.instagram.com/seba_aless/"><i class="fa-brands fa-instagram" style="color: #028090;"></i></a>
        <a href="https://www.linkedin.com/in/sebastian-ale-074303237/"><i class="fa-brands fa-linkedin" style="color: #028090;"></i></a>
        <button type="button" class="btn-btn-outline-info" (click)="login()">Login</button>

    </div>
 
   </div>
</div>